*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    flex-flow: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ff0000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid #000;
    border-radius: 20px
}

.batch6{
    display: flex;
    gap: 20px;
    border: 4px solid #000;
    border-radius: 20px;
    padding: 20px;
    background-color: #00ff00;

    
}